html {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    font-family: Verdana, Arial, sans-serif;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

body {
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

div {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.title {
    color: white;
    font-size: 5vh;
    text-align: center;
}

.btn {
    -webkit-box-shadow: 0 31px 68px -25px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0 31px 68px -25px rgba(0, 0, 0, 0.68);
    box-shadow: 0 31px 68px -25px rgba(0, 0, 0, 0.68);
    border-radius: 50px;
    background-color: white;
    margin-bottom: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 4vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    margin-right: 10px;
    height: 5vh;
}

.license {
    bottom: 10px;
    color: white;
    font-size: 7px;
    text-align: center;
    width: 100%;
}